.img1{
    width: 50px;
    height: 50px;
    transform: translate( 350%, -2050%);
}

.img2{
    width: 45px;
    transform: translate( 2225%, -2285%);
}

.jamback{
    padding: 20px;
    font-size: 50px;
    transform: translate(30%,-570%);
    text-align: center;
    color: black;
}

.formulario{
    position: absolute;
    top: 160%;
    left: 40%;
    transform: translate( -10%, -250%);
    width: 400px;
    background-color: rgb(128, 124, 0);
    border-radius: 5px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 30px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(50%);
    font-size: 16px;
    pointer-events: none;
}

.ayuda{
    transform: translate( 150%, -2280%);
    font-size: 20px;
}

.idioma{
    font-size: 20px;
    transform: translate( 150%, -2210%);
}

.iniciosesion{
    transform: translate( 150%, -2660%);
    color: black;
    font-size: 20px;
}

.buscador{
    transform: translate( 30%, -2685%);
    width: 800px;
    height: 40px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Mochiy Pop One", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul li{
    position: relative;
    list-style: none;
}

ul li a{
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    color: rgb(6, 6, 6);
    -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 6px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

.modelo{
    transform: translate( -140%,545%);
}

.deporte{
    transform: translate(-70%, 348%);
}

.obsside{
    transform: translate(0%,153%);
}

.jordan{
    transform: translate(60%,-40%);
}

#cuadrado{
    width: 300px;
    height: 400px;
    background: aqua;
    animation-name: ways;
}
.waua{
    transform: translate(-267%, 10%);
}

.ulas{
    transform: translate(-90%,-40%);
    height: 385px;
}

#cuad{
    width: 300px;
    height: 400px;
    background: #adadad;
    animation-name: wawa;
}

.cud{
    transform: translate(-150%, -188%);
}

.ftco{
    width: 300px;
    transform: translate(-268%,-585%);
}


.bnbn{
    transform: translate(-35%, -339%);
}

.fts{
    width: 300px;
    transform: translate(-150%,-525%);
}